<%- include('../../partials/header.ejs') %>
<%- include('../../partials/homenavbar.ejs') %>

<div class="container">
    <hr/>
    <% result.articles.rows.forEach(article => { %>
        <div class="card">
            <div class="card-header">
                <h2><%= article.title %></h2>
            </div>
            <div class="card-body">
                <a href="/<%=article.slug %>" class="btn btn-success">Ler artigo</a>
            </div>
        </div>
        <br />
    <%});%>
    <div class="row">
        <div class="col">
            <% if(result.page > 2) { %>
                <a class="btn btn-primary" href="/articles/page/<%= result.page - 1 %>">Prev</a>
            <% } else if(result.page == 2) { %>
                <a class="btn btn-primary" href="/">Prev</a>
            <% } %>  
            <% if(result.next){ %>
                <a style="float: right;" class="btn btn-primary" href="/articles/page/<%= result.page + 1 %>">Next</a>
            <% } %>
        </div>
    </div>
    <hr>
</div>

<%- include('../../partials/footer.ejs') %>